:root {
	--sidepanel-width: 13em;
}

@font-face {
	font-family: "texgyrepagella";
	src: url("/font/texgyrepagella-regular.otf") format("opentype");

	/* use default font while custom one is loading */
	font-display: swap;
}

body {
	margin: 0;

	font-family: "texgyrepagella", "notosymbols";
	line-height: 1.2;
	color: #CCC;
}

#bgimage-holder {
	position: fixed;
	height: 100%;
	width: calc(100% - var(--sidepanel-width));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	z-index: -1;
}

@media (max-width: 1920px) {
	#bgimage-holder {
		background-image: url("/img/solitary_tree_small.webp");
	}
}

@media (min-width: 1921px) {
	#bgimage-holder {
		background-image: url("/img/solitary_tree.jpg"), url("/img/solitary_tree_small.webp");
	}
}

.row-container {
	display: flex;
}

#mainpanel {
	flex: auto;
	margin-bottom: 25vh;
}

#main-content {
	margin: 6em 1em 0 3em;
	max-width: 45em;
	min-width: 25em;
}

#main-content > div {
	background-color: rgba(24, 26, 27, .95);
	padding: 2em;

}

#main-content img {
	max-height: 18em;
	max-width: 100%;
	margin: auto;
	display: block;
}

#main-content figure {
	text-align: center;
}

#main-content h1 {
	font-size: 2.5em !important;
	font-weight: 500;
	position: relative;
	padding-left: 0.5em;
	left: -0.80em;
	border-left: 0.2em solid #68A6E5;
	color: #ccc;
	width: 100%;
}

#main-content > div > p,
#main-content > div > dl
{
	text-align: justify !important;
}

.hanchor {
	color: unset !important;
}

#sidepanel {
	display: flex;
	justify-content: center;
	margin: 0;
	background-color: rgb(24, 26, 27);
	width: var(--sidepanel-width);
}

#panel-content {
	position: fixed;
	margin: 1em;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#panel-top {
	flex-grow: 1;
}

#panel-bottom {
	padding: 1em;
}

#main-footer {
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 3em;
}

.header-ico {
	width: 1.5em;
	height: 1.5em;
}

a {
	text-decoration: None;
}

#sidepanel a {
	color: #ccc;
}

h1 > a:hover {
	text-decoration: none;
}

h2, h3 {
	padding-top: 1em;
	margin-top: 0em;
}

a:hover {
	text-decoration: underline;
}

em {
	color: #68A6E5;
	font-style: italic;
}

strong, b {
	color: #FCE945;
	font-weight: bold;
}

pre, code {
	color: #FCE945;
}

code > span {
	padding-right: 1em;
}

.code-highlight code {
	color: unset;
}

#main-content > p > code {
	background-color: #333;
	padding: 0 0.5em;
	border-radius: 0.25em;
}

q, blockquote {
	color: #7adc76;
	font-style: italic;
}

.katex-display {
	padding: 1em;
	border-left: 0.2em solid #FCE945;
	background-color: #292929;
}

.code-highlight {
	margin: 1em 0;
	border-left: 0.2em solid #68A6E5;
}
.code-highlight div,
.code-highlight pre {
	background-color: #292929 !important;
}

#main-content > div > pre {
	padding: 1em;
	background-color: #292929;
	border-left: 0.3em solid #68A6E5;
	overflow: auto;
}

.code-highlight {
	overflow: auto;
}

.code-highlight tbody {
	background-color: #292929;
	padding-right: 1em;
}

#main-content > div > table {
	border-collapse: collapse;
	width: 100%;
}

#main-content th {
	color: #68A6E5;
	font-weight: bold;
}

#main-content td {
	border: 1px solid;
	padding: 0.5em;
}

#main-content > div > pre > code {
	color: #ddd;
}

#main-content a {
	color: #f9f;
}

#panel-decor {
	position: fixed;
	width: var(--sidepanel-width);
	height: auto;
	bottom: 0;
	left: 0;
	z-index: -1;
}

h3 {
	margin-top: 2em;
}

.list-year {
	margin-bottom: 0;
	margin-top: 0;
}

.list-item {
	margin-top: 0;
	list-style-type: none;
}

#samorost-banner {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#panel-flags {
	margin-top: 2em;
}

#panel-flags img {
	width: 1.75em;
}

.cflag {
	width: 1em;
	display: inline !important;
}

.menuitem {
	margin-bottom: 0.75em;
}

/* in non-mobile layout this is contained in the side panel */
#author-info {
	display: none;
}

#content-footer {
	padding-top: 4em;
}

#blog-nav {
	display: flex;
	justify-content: space-between;
}

#blog-nav > div {
	max-width: 50%;
}

#lastedit {
	display: flex;
	justify-content: space-between;
	font-size: smaller;
	font-style: italic;
	margin-top: 1em;
}

#article-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

#comments {
	margin-top: 1em;
}

form {
	width: 100%;
	margin-top: 2em;
	font-size: medium;
	border: 0.1em solid #ccc;
}

.form-inline {
	display: flex;
	gap: 0;
	margin-bottom: 0;
}

.form-inline input[type="text"] {
	flex: 1 1 auto;
	box-sizing: border-box;
	border: none;
	min-width: 0;
}

.form-inline input[type="submit"] {
	background-color: #333;
	cursor: pointer;
	white-space: nowrap;
	border: none;
}

.form-inline input[type="submit"]:hover,
.form-inline input[type="submit"]:focus {
	background-color: #555;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
	border: none;
}


textarea, input {
	font-family: monospace;
	font-size: medium;
	padding: 0.4em 0.6em;
	background-color: #181a1b;
	color: #e8e6e3;
	margin: 0;
}

input:focus,
textarea:focus {
	outline: none;
	box-shadow: none;
}

.comment {
	word-wrap: break-word;
	padding: 0;
	padding-bottom: 1em;
	margin: 0;
}

.comm-hdr {
	font-size: small;
	font-style: italic;
}

.comm-bdy {
	font-size: smaller;
}

#char-count {
  text-align: right;
  font-family: monospace;
  font-size: 0.9em;
  color: #888;
  margin-top: 0.2em;
  display: none;
}

#db-error {
	color: red;
}

/* for mobile phones */
@media (pointer:none), (pointer:coarse) or (max-width: 900px) {
	#bgimage-holder {
		width: 100%;
		top: 0;
		left: 0;
	}

	.row-container {
		flex-direction: column;
	}

	/* turn the side-panel into a top-panel */
	#sidepanel {
		width: 100%;
		max-width: 100%;
	}

	#samorost-banner {
		display: none;
	}

	#panel-content {
		position: initial;
		margin: 0;
		display: flex;
		flex-direction: row;
		height: auto;
		width: 100%;
	}

	#panel-decor {
		display: none;
	}

	.menuitem {
		padding: 0 0.5em;
		margin: 0;
	}

	#panel-flags {
		margin: auto 0.5em;
		display: flex;
		gap: 0.2em;
	}
	#panel-flags > a {
		display: flex;
		align-items: center;
		justify-items: center;
	}

	#panel-top {
		display: flex;
		width: 100%;
		height: 3em;
		justify-content: space-between;
		align-items: center;
		justify-items: center;
		font-size: larger;
	}

	#navmenu {
		margin-left: 0.5em;
		min-width: 20%;
		display: flex;
	}

	#main-content {
		width: 100%;
		max-width: none;
		margin: 3em 0 0 0;
	}

	#main-content > div {
		padding: 1em;
	}

	#main-content h1 {
		left: -0.40em;
	}


	#panel-bottom {
		display: none;
	}

	#author-info {
		display: block;
	}

	form, input, textarea {
		font-size: inherit;
	}
}
