<!DOCTYPE html>
<html lang="{{ .Language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }} | {{ .Title }}</title>
    <link rel="preload" href="/img/solitary_tree_small.webp" as="image" />
    <link rel="preload" href="/style.css" as="style" />
    <link rel="stylesheet" href="/style.css">
    {{ $noop := .WordCount -}} <!-- force content render before hasMath check -->
    {{- if .Page.Store.Get "hasMath" -}}
    <link href="/katex.min.css" rel="stylesheet">
    {{- end }}
  </head>
  <body>
    <div class="row-container">
      <div id="sidepanel">
        <div id="panel-content">
          <div id="panel-top">
            <h1 id="samorost-banner"><a href="{{ relLangURL "" }}">Samoro.st</a></h1>
            <div id="navmenu">
              {{- range site.Menus.main }}
              <a href="{{ .URL }}"><div class="menuitem">{{ .Name }}</div></a>
              {{- end }}
            </div>
            <div id="panel-flags">
              {{ partial "flaglink" . }}
            </div>
          </div>
          <div id="panel-bottom">
            {{ partial "footer" . }}
            <img id="panel-decor" src="/img/vetev.webp" />
          </div>
        </div>
      </div>
      <div id="mainpanel">
        <div id="bgimage-holder"></div>
        <div id="main-content" class="row-item">
          {{ block "main" . }}
          {{ end }}
        </div>
        <div id="main-footer">
          <div id="author-info">
          {{ partial "footer" . }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
