:root {
	--sidepanel-width: 13em;
}

@font-face {
	font-family: "texgyrepagella";
	src: url("/font/texgyrepagella-regular.otf") format("opentype");

	/* use default font while custom one is loading */
	font-display: swap;
}

body {
	margin: 0;

	font-family: "texgyrepagella", "notosymbols";
	line-height: 1.2;
	color: #CCC;
	background-color: rgb(24, 26, 27);
}

#bgimage-holder {
	position: fixed;
	height: 100%;
	width: calc(100% - var(--sidepanel-width));
	/* background-image: url("/img/solitary_tree.jpg"), url("/img/solitary_tree_small.webp"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	z-index: -1;
}

@media (max-width: 1920px) {
	#bgimage-holder {
		background-image: url("/img/solitary_tree_small.webp");
	}
}

@media (min-width: 1921px) {
	#bgimage-holder {
		background-image: url("/img/solitary_tree.jpg"), url("/img/solitary_tree_small.webp");
	}
}

.row-container {
	display: flex;
}

#mainpanel {
	flex: auto;
}

#main-content {
	background-color: rgba(24, 26, 27, .95);

	max-width: 40em;
	min-width: 25em;
	margin: 6em 1em 0 3em;
	padding: 2em;
}

#main-content img {
	max-height: 18em;
	max-width: 100%;
	margin: auto;
	display: block;
}

#main-content figure {
	text-align: center;
}

#main-content h1 {
	font-size: 2.5em !important;
	font-weight: 500;
	position: relative;
	padding-left: 0.5em;
	left: -0.80em;
	border-left: 0.2em solid #68A6E5;
	color: #ccc;
	width: 100%;
}

#main-content > p,
#main-content > dl
{
	text-align: justify !important;
}

.hanchor {
	color: unset !important;
}

#sidepanel {
	display: flex;
	justify-content: center;
	margin: 0;

	max-width: var(--sidepanel-width);
	min-width: var(--sidepanel-width);
}

#panel-content {
	position: fixed;
	margin: 1em;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#panel-top {
	flex-grow: 1;
}

#panel-bottom {
	padding: 1em;
}

#main-footer {
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	margin-top: 25vh;
	margin-bottom: 3em;
}

.header-ico {
	width: 1.5em;
	height: 1.5em;
}

a {
	text-decoration: None;
}

#sidepanel a {
	color: #ccc;
}

h1 > a:hover {
	text-decoration: none;
}

h2, h3 {
	padding-top: 1em;
	margin-top: 0em;
}

a:hover {
	text-decoration: underline;
}

em {
	color: #68A6E5;
	font-style: italic;
}

strong, b {
	color: #FCE945;
	font-weight: bold;
}

pre, code {
	color: #FCE945;
}

.code-highlight code {
	color: unset;
}

#main-content > p > code {
	background-color: #333;
	padding: 0 0.5em;
	border-radius: 0.25em;
}

q, blockquote {
	color: #7adc76;
	font-style: italic;
}

.katex-display {
	padding: 1em;
	border-left: 0.2em solid #FCE945;
	background-color: #292929;
}

.code-highlight {
	margin: 1em 0;
	border-left: 0.2em solid #68A6E5;
}
.code-highlight div,
.code-highlight pre {
	background-color: #292929 !important;
}

#main-content > pre {
	padding: 1em;
	background-color: #292929;
	border-left: 0.3em solid #68A6E5;
	overflow: auto;
}

.code-highlight {
	overflow: auto;
}

.code-highlight tbody {
	background-color: #292929;
	padding-right: 1em;
}

#main-content > table {
	border-collapse: collapse;
	width: 100%;
}

#main-content th {
	color: #68A6E5;
	font-weight: bold;
}

#main-content td {
	border: 1px solid;
	padding: 0.5em;
}

#main-content > pre > code {
	color: #ddd;
}

#main-content a {
	color: #f9f;
}

#panel-decor {
	position: fixed;
	width: var(--sidepanel-width);
	height: auto;
	bottom: 0;
	left: 0;
	z-index: -1;
}

h3 {
	margin-top: 2em;
}

.list-year {
	margin-bottom: 0;
	margin-top: 0;
}

.list-item {
	margin-top: 0;
	list-style-type: none;
}

#samorost-banner {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#panel-flags {
	margin-top: 2em;
}

#panel-flags img {
	width: 1.75em;
}

.cflag {
	width: 1em;
	display: inline !important;
}

.menuitem {
	margin-bottom: 0.75em;
}

/* in non-mobile layout this is contained in the side panel */
#author-info {
	display: none;
}

#content-footer {
	margin-top: 4em;
}

#blog-nav {
	display: flex;
	justify-content: space-between;
}

#blog-nav > div {
	max-width: 50%;
}

#lastedit {
	display: flex;
	justify-content: space-between;
	font-size: smaller;
	font-style: italic;
	margin-top: 1em;
}

#article-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

/* for mobile phones */
@media (pointer:none), (pointer:coarse) or (max-width: 900px) {
	html {
		font-size: larger;
	}

	#bgimage-holder {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.row-container {
		flex-direction: column;
	}

	#sidepanel {
		width: 100%;
		max-width: 100%;
		background-color: rgb(24, 26, 27);
	}

	#samorost-banner {
		display: none;
	}

	#panel-content {
		position: initial;
		margin: 0;
		display: flex;
		flex-direction: row;
		height: auto;
		width: 100%;
	}

	#panel-decor {
		display: none;
	}

	.menuitem {
		padding: 0.5em;
		margin: 0;
		min-width: 4em;
	}

	#panel-flags {
		margin: auto 1em;
		display: inline;
	}

	#panel-top {
		display: flex;
		width: 100%;
		justify-content: space-between;
		font-size: xx-large !important;
	}

	#navmenu {
		min-width: 20%;
		display: flex;
	}

	#main-content {
		min-width: 80%;
		margin: 2em auto;
	}

	#panel-bottom {
		display: none;
	}

	#author-info {
		display: initial;
	}

	body, #main-content {
		font-size: larger !important;
	}
}
